body {
  color: #533A2E;
  font-family: 'Signika', sans-serif;;
  font-weight: 500;
  color: #3396FF}

h1 {
  font-size: 3em;
  color: #3396FF; }

h2 {
  font-size: 2em;
  color: #FF5733; }

h3 {
  font-size: .5em;
  color: white
}

p {
  font-size: 2em;
  color: black
}

.btn {
      color: #fff;
      background-color: #FF5733;
      border-color: #FF5733;
      float: left;
      padding: 10px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
  }

.jumbotron {
  background-image: url("../images/jen.png");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100%;
  padding-top: 500px; }

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #FF5733;
  border-bottom: 5px solid #FF5733;
  font-weight: bold; }

.featurette-heading {
  font-weight: 300;
  line-height: 1; }

form {
  padding-top: 20px;
  padding-bottom: 20px}

span {
  text-decoration: underline; }
